/*****************************************************************
Cascading Style Sheets (CSS) Style Definitions by Osman Balci.
Created specifically for the Pizza-Hut app. However, some of the 
styles are not used. They are included as examples and for reuse. 
*****************************************************************/

html, body {
    /*---------------------------------------------------------------------------------
    If you use a background image, make sure that its size is very small, i.e., < 100KB
    -----------------------------------------------------------------------------------
    Expression Language (EL) variable 'resource' is an implicit object
    for javax.faces.application.ResourceHandler. The 'resources' is
    the default directory the handler looks for resource files in.
    */
    /* background-image: url("#{resource['images:background.jpg']}"); */

    /*---------------------------------------------------------------------------------
    Preferably, use a background color. Uncomment the one you like from examples below.
    See more HTML colors at http://www.w3schools.com/colors/colors_names.asp
    ---------------------------------------------------------------------------------*/
    /* background-color: #F0F8FF;   /* AliceBlue */
    /* background-color: #F0FFFF;   /* Azure */
    /* background-color: #F5F5DC;   /* Beige */
    /* background-color: #DCDCDC;   /* Gainsboro */
    /* background-color: #FFFFF0;   /* Ivory */
    background-color: #FAF0E6;   /* Linen */
    /* background-color: #FDF5E6;   /* OldLace */
    /* background-color: #FFEFD5;   /* PapayaWhip */
    /* background-color: #F5DEB3;   /* Wheat */
    /* background-color: #B0E0E6;   /* PowderBlue */

    /* Stretch the background image to cover the entire screen. 
    This is used only if you choose to display a background image. */
    -webkit-background-size: cover; /* For WebKit */
    -moz-background-size: cover;    /* For Mozilla */
    -o-background-size: cover;      /* For Opera */
    background-size: cover;         /* Generic */
    background-repeat: no-repeat;   /* Do not repeat the image */

    width: 100%;                    /* Set page width horizontally 100% */
    height: 100%;                   /* Set page height vertically 100% */
}

/* Style the text used under the standard HTML tag "body" */
body {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

/* Style the text used under the standard HTML tag "p" for paragraph */
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    color: black;
}

/* Style the text used under the standard HTML tag "h1" for header 1 */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #006400;
}

/* Style the text used under the standard HTML tag "h2" for header 2 */
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: #800000;
}

/* Style the footer copyright text */
.smallText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    font-style: normal;
    font-weight: normal;
}

/* Style error messages text */
.errorMessages {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    color: #FF0000;
}

/* Style a heading text */
.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    color: #006400;
}

/* Style form item text */
.formItemText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

/* Style the customer's photo in Profile.xhtml */
.profilePhoto {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Style the Google map display */
.map {
    margin-left: 10px;
    margin-right: 40px;
    height:600px;
}
/* Style the pizza topping image */
.toppingImage {
    object-fit: cover;
    width: 64px;
    height: 64px;
}

/* Left align text */
.leftAlign {
    text-align: left;
}

/* Right align text */
.rightAlign {
    text-align: right;
}

/*
==================
Styling Hyperlinks
==================
Hyperlinks (or links) are styled differently depending on what state they are in:
    a:link      - normal state (unvisited link)
    a:visited   - visited state (link clicked on by user earlier)
    a:hover     - mouse over state (link when the user hovers over it)
    a:active    - active state (link currently clicked on by user)
*/

/* Set the font family for the standard HTML tag "a" for hyperlinks */
a {
    font-family: Arial, Helvetica, sans-serif
}

a:link {
    text-decoration: none; /* Do not underline the link in normal state */
}

a:visited {
    text-decoration: none; /* Do not underline the link in visited state */
}

a:hover {
    text-decoration: underline; /* Underline the link in hover state */
}

a:active {
    text-decoration: underline; /* Underline the link in active state */
}

/*
===============================
Site Template Component Styling
===============================

In XHTML code, we refer to a CSS style defined in a CSS file by using Selectors. 

See CSS Selector Reference at http://www.w3schools.com/cssref/css_selectors.asp

#id defines the style of a page component whose unique identification is id.
.stylename defines the style of all elements marked as class="stylename".

Since id's are unique, the #id styling is used only once.
.stylename can be used many times to style a class of elements.
*/

/* 
Style the div component whose unique id is "page" per reference
<div id="page"> in siteTemplate.xhtml
*/
#page {
    font-family: "Times New Roman", Times, Serif;
    font-size: 12pt;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
/* 
Style the div component whose unique id is "header" per reference 
<div id="header"> in siteTemplate.xhtml
*/
#header {
    background-color: #DCDCDC;   /* Gainsboro */
    width: 100%;
    height: 84px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    margin-bottom: 16px;
}
/* 
Style the div component whose unique id is "editableContent" per reference 
<div id="editableContent"> in siteTemplate.xhtml
*/
#editableContent {
    width: 100%;
    height: calc(100% - 184px); 
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 16px;
}
/* 
Style the div component whose unique id is "footer" per reference 
<div id="footer"> in siteTemplate.xhtml
*/
#footer {
    width: 100%;
    height: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/* 
Style the div component whose unique id is "footerPanelGrid" per reference
<h:panelGrid id="footerPanelGrid" columns="2"> in footerTemplate.xhtml 
*/
#footerPanelGrid {
    width: 80%;
}
/* 
Style the div component whose unique id is "rightAlignPanelGroup" per reference
<h:panelGroup id="rightAlignPanelGroup"> in footerTemplate.xhtml 
*/
#rightAlignPanelGroup {
    float: right;
}
/* 
Place the pizza hut logo image on the left top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml
*/
.leftTopCornerAlign {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}
/* 
Place the horizontal drop-down cascading PrimeFaces navigation menu bar
on the right top corner per reference
<h:panelGrid columns="2" columnClasses="leftTopCornerAlign, rightTopCornerAlign">
in headerTemplate.xhtml 
*/
.rightTopCornerAlign {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 10px;
}

/* Style the input text fields in CreateAccount.xhtml and EditAccount.xhtml */
.accountInputTextField {
    width: 200px;
}
/* 
Right align column 1 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in CreateAccount.xhtml, SignIn.xhtml, EditAccount.xhtml, and Profile.xhtml 
*/
.columnOne {
    text-align: right;
    white-space: nowrap;  /* Disallow line break */
}
/* 
Left align column 2 text and disallow line breaks per reference
<p:panelGrid columns="2" columnClasses="columnOne, columnTwo">
in CreateAccount.xhtml, SignIn.xhtml, and Profile.xhtml 
*/
.columnTwo {
    text-align: left;
    white-space: nowrap;  /* Disallow line break */
}
/* 
Style the button UI component per reference
<h:button styleClass="button" ...> in index.xhtml
*/
.button {
    border:1px solid #999999; -webkit-border-radius: 42px; -moz-border-radius: 42px;border-radius: 42px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 5px 15px 5px 15px; text-decoration:none; display:inline-block;text-shadow: 1px 1px 0 rgba(255,255,255,0.3);font-weight:normal; color: #000000;
    background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background-image: -webkit-linear-gradient(top, #FFFFFF, #CFCFCF);   /* For WebKit */
    background-image: -moz-linear-gradient(top, #FFFFFF, #CFCFCF);      /* For Mozilla */
    background-image: -ms-linear-gradient(top, #FFFFFF, #CFCFCF);       /* For IE10+ */
    background-image: -o-linear-gradient(top, #FFFFFF, #CFCFCF);        /* For Opera */
    background-image: linear-gradient(to bottom, #FFFFFF, #CFCFCF);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#CFCFCF);
}

.button:hover {
    border:1px solid #7A7A7A;
    background-color: #EEEEEE; background-image: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#C7C7C7));
    background-image: -webkit-linear-gradient(top, #EEEEEE, #C7C7C7);   /* For WebKit */
    background-image: -moz-linear-gradient(top, #EEEEEE, #C7C7C7);      /* For Mozilla */
    background-image: -ms-linear-gradient(top, #EEEEEE, #C7C7C7);       /* For IE10+ */
    background-image: -o-linear-gradient(top, #EEEEEE, #C7C7C7);        /* For Opera */
    background-image: linear-gradient(to bottom, #EEEEEE, #C7C7C7);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EEEEEE, endColorstr=#C7C7C7);
}
/*
==================================
Social Media Buttons Spin Animated
==================================
Animate the social media icons in footerTemplate.xhtml by spinning them
360 degrees on mouseover (hovering over).

CSS Transitions allow property changes in CSS values to occur smoothly over a
specified duration. This smoothing animates the changing of a CSS value when
triggered by a mouse click. The timing function value “all ease 0.3s” allows
the speed of the transition to change over time. 
*/
.social-roll {
    height: 36px;
    width: 36px;
    margin: 10px;
    float: left;
    border-radius: 50%;
    -webkit-transition: all ease 0.3s;  /* For WebKit */
    -moz-transition: all ease 0.3s;     /* For Mozilla */
    -o-transition: all ease 0.3s;       /* For Opera */
    -ms-transition: all ease 0.3s;      /* For IE10+ */
    transition: all ease 0.3s;          /* Generic */
}

/* Mouseover (hovering over) the social media icon animates its 360-degree rotation */
.social-roll:hover {
    -webkit-transform:rotate(360deg);  /* For WebKit */
    -moz-transform:rotate(360deg);     /* For Mozilla */
    -o-transform:rotate(360deg);       /* For Opera */
    -ms-transform:rotate(360deg);      /* For IE10+ */
    transform:rotate(360deg);          /* Generic */
}

/*
=================================
Skinning PrimeFaces UI Components
=================================

Position the confirmation dialog box on the center of the screen per
reference <p:confirmDialog id="confirmDialogBox" ...> in Profile.xhtml
*/
#confirmDialogBox {
    top: 50%;
    left: 50%;
}

/* Leave 15px space to the right of the p:dataTable */
.dataTable {
    padding-right: 15px;
}

/*
================================================
Auto-generated jsfcrud.css content is given here
================================================
*/

/* 
Set font size in ui-widget styled elements to 12px.

The !important directive forces the style to be applied no matter
where the style appears in the CSS document.
*/
.ui-widget {
    font-size: 12px !important;
}
/* The overflow property specifies what happens if content overflows an element's box. */
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
/* This styles the <p:panel header="..."> */
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
/* Leave 10px pading on top for the ui-button elements */
.ui-button {
    margin-top: 10px !important;
}

.ui-panel {
    background-color: #F0FFFF;
}